:root {
  --font-family: "Gilroy", sans-serif;
  --content-width: 1330px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --orange-color: #F05830;
  --green-color: #236E57;
  --dark-color: #0D0D0D;
  --grey-color: #807D7D;
  --light-color: #ffffff;
  --bg-color: #FFF8F1;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: light;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: medium;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroySemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: semibold;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/GilroyExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: extrabold;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.016em;
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--orange-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.016em;
  text-align: center;
  cursor: pointer;
  color: var(--light-color);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.btn--header {
  padding: 13px 32px;
  z-index: 1000;
}
.btn--hero {
  padding: 24px 62px;
  margin-right: 35px;
}
.btn:hover {
  background-color: #E14921;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 27px 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--dark-color);
}

.descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--grey-color);
}

.nav {
  z-index: 1000;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav__item:not(:last-child) {
  margin-right: 56px;
}
.nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--dark-color);
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: var(--orange-color);
}

.hero {
  position: relative;
  padding-top: 205px;
  padding-bottom: 205px;
}
.hero__content {
  max-width: 600px;
}
.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: 0.016em;
}
.hero__descr {
  margin: 0;
  margin-bottom: 70px;
  max-width: 560px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--grey-color);
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__image {
  position: absolute;
  top: 205px;
  right: 0;
}
.hero__image img {
  width: 771px;
}
.hero__completed {
  margin-top: 32px;
}

.completed__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.completed:not(:last-child) {
  margin-right: 52px;
}

.completed__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--green-color);
}

.completed__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.016em;
  color: var(--grey-color);
}

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 11px;
}
.btn-play svg {
  margin-right: 16px;
  fill: var(--green-color);
  width: 56px;
  height: 56px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.btn-play svg:hover {
  fill: #19644D;
}
.btn-play__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--dark-color);
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.btn-play__text:hover {
  color: var(--green-color);
}

.recommended {
  margin: 40px 0;
}
.recommended__title {
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.016em;
  color: var(--green-color);
}
.recommended__title:before {
  position: absolute;
  left: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 380px;
  height: 2px;
  background-color: var(--orange-color);
}
.recommended__title:after {
  position: absolute;
  right: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 380px;
  height: 2px;
  background-color: var(--orange-color);
}
.recommended__logos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 52px 0;
}

.logo__item svg {
  fill: #C7BDB3;
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.logo__item svg:hover {
  fill: var(--green-color);
}

.features {
  margin-top: 100px;
  margin-bottom: 100px;
}
.features__heading {
  margin-bottom: 90px;
}
.features__title {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}
.features__descr {
  margin: 0 auto;
  max-width: 660px;
  text-align: center;
}
.features__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}
.features__item {
  padding: 80px 55px;
  border: 1px solid #F5EEE7;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.features__item:hover {
  border: none;
  background: -o-linear-gradient(293.21deg, rgba(255, 248, 241, 0.45) 0.44%, #FFF8F2 61.76%, #E0FBE5 134.86%);
  background: linear-gradient(156.79deg, rgba(255, 248, 241, 0.45) 0.44%, #FFF8F2 61.76%, #E0FBE5 134.86%);
  -webkit-box-shadow: 25px 25px 100px rgba(166, 161, 157, 0.2);
  box-shadow: 25px 25px 100px rgba(166, 161, 157, 0.2);
}
.features__item-img {
  width: 84px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.features__item-img img {
  border-radius: 12px;
}
.features__item-title {
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.016em;
  text-align: center;
  color: var(--dark-color);
}
.features__item-descr {
  margin: 0 auto;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.016em;
  color: var(--grey-color);
}

.how-it-works {
  position: relative;
  padding: 20px 0 100px 0;
}
.how-it-works__image {
  position: absolute;
}
.how-it-works__image img {
  width: 696px;
}
.how-it-works__content {
  margin: 150px 10px auto auto;
  max-width: 590px;
}
.how-it-works__heading {
  margin-bottom: 62px;
}
.how-it-works__title {
  margin: 0;
  margin-bottom: 24px;
}
.how-it-works__descr {
  margin: 0;
  max-width: 540px;
  font-size: 18px;
}

.btn--choose {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px 70px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--orange-color);
  background-color: none;
  border: 1px solid var(--orange-color);
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}
.btn--choose:hover {
  color: var(--light-color);
  background-color: var(--orange-color);
}

.download {
  position: relative;
  padding: 80px 0 220px 0;
}
.download__image {
  position: absolute;
  right: 0;
}
.download__image img {
  width: 690px;
}
.download__content {
  max-width: 590px;
  margin: 100px auto 0 0;
}
.download__heading {
  margin-bottom: 60px;
}
.download__title {
  margin: 0;
  margin-bottom: 24px;
}
.download__descr {
  margin: 0;
  font-size: 18px;
  max-width: 500px;
}

.submit {
  position: relative;
  padding: 45px 0 70px 0;
}
.submit__heading {
  text-align: center;
  margin-bottom: 65px;
}
.submit__title {
  margin: 0;
  margin-bottom: 28px;
  color: var(--light-color);
}
.submit__descr {
  margin: 0 auto;
  max-width: 650px;
  color: #E6EFEC;
}
.submit__bg img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0px 24px 48px;
  margin: 0 auto;
  max-width: 656px;
  height: 69px;
  border: 1px solid #FFF8F1;
  border-radius: 5px;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.form__input {
  width: 100%;
  height: 69px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: var(--light-color);
  background-color: transparent;
}
.form__input::-webkit-input-placeholder {
  color: var(--light-color);
  opacity: 0.8;
}
.form__input::-moz-placeholder {
  color: var(--light-color);
  opacity: 0.8;
}
.form__input:-ms-input-placeholder {
  color: var(--light-color);
  opacity: 0.8;
}
.form__input::-ms-input-placeholder {
  color: var(--light-color);
  opacity: 0.8;
}
.form__input::placeholder {
  color: var(--light-color);
  opacity: 0.8;
}
.form__btn {
  padding: 24px 71px;
  color: var(--light-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  background: var(--orange-color);
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #E14921;
}

.footer {
  background-color: var(--light-color);
  padding-top: 85px;
  padding-bottom: 80px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
.footer__info {
  width: 50%;
}
.footer__descr {
  margin-bottom: 40px;
  max-width: 495px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--grey-color);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
  -moz-column-gap: 200px;
  column-gap: 200px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__nav-block {
  display: block;
}
.footer__nav-block-title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.016em;
  color: var(--dark-color);
}
.footer__copy {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: var(--grey-color);
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: var(--grey-color);
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.footer__nav-link:hover {
  color: var(--orange-color);
}

.social__link svg {
  fill: #5C5C5C;
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.social__link svg:hover {
  fill: var(--green-color);
}
/*# sourceMappingURL=main.css.map */